name: Build Mod

on:
  push: # Run on commit
  pull_request: # Run on all pull requests regardless of target branch
  workflow_dispatch:  # Allows manual triggering of the workflow

jobs:
  setup:
    uses: ./.github/workflows/setup-java.yml
    
  build:
    needs: setup
    uses: ./.github/workflows/gradle-build.yml
    with:
      java-version: ${{ needs.setup.outputs.java-version }}
      upload-artifacts: true
      artifact-name: mod-jars-pr
