name: IntelliJ Code Format

on:
  pull_request:

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Needed to get all the history for proper diff

      - name: Cache IDEA
        uses: actions/cache@v3
        with:
          path: /home/runner/work/_temp/_github_workflow/idea-cache
          key: ${{ runner.os }}-idea-cache

      - uses: notdevcody/intellij-format-action@v3
        with:
          path: ./api/
          include-glob: "*.java"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
